public-hoist-pattern[]=*types*
# Allow build scripts for these dependencies
enable-pre-post-scripts=true
# Explicitly approved build scripts
allow-scripts=true
# List of approved packages
allow-scripts["@firebase/util"]=true
allow-scripts["canvas"]=true
allow-scripts["protobufjs"]=true
allow-scripts["sharp"]=true 